################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPNETCore/Pawtral.Web/.vs/Pawtral.Web
